VITE_SF_CLIENT_ID=
VITE_SF_LOGIN_URL=https://test.salesforce.com
VITE_SF_INSTANCE_URL=

# OAuth flow for demo (frontend-only)
VITE_SF_OAUTH_RESPONSE_TYPE=token
VITE_SF_OAUTH_SCOPE=full

# Optional: force mock mode
VITE_SF_USE_MOCK=false
